<h3>Listado de heroes</h3>
<div *ngIf="deletedHero;else nothingWasDeleted">
    <h3>heroe borrado <small class="text-danger">{{deletedHero}}</small>
    </h3>
</div>
<ng-template #nothingWasDeleted>
    <h3>no ha borrado nada</h3>
</ng-template>
<button *ngIf="heroNames.length>0" (click)="removeLastHeroe()" class="btn btn-outline-danger">
    Borrar ultiomo heroe
</button>
<ul  class="mt-2 list-group" >
    <li *ngFor="let item of heroNames" class="list-group-item">{{item}}</li>
    <!-- <li class="list-group-item">Ironman</li>
    <li class="list-group-item">Hulp</li>
    <li class="list-group-item">Thor</li> -->
</ul>